[SddmGreeterTheme]
Name=win7-sddm-theme
Description=Windows 7 login screen theme for SDDM.
Author=birbkeks
License=MIT
Type=sddm-theme
Version=1
Website=https://github.com/birbkeks/win7-sddm-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=birbkeks@proton.me
Theme-Id=win7-sddm-theme
Theme-API=2.0
QtVersion=6
